<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Map Direction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">From</ion-label>
    <ion-input [(ngModel)]="sourceLocation"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">To</ion-label>
    <ion-input [(ngModel)]="destinationLocation"></ion-input>
  </ion-item>
  <ion-button expand="full" color="danger" (click)="calculateAndDisplayRoute()">Get Direction</ion-button>
  <div #mapElement class="map"></div>
</ion-content>
